@charset "utf-8";
/* CSS Document */

body {
    font-family: arapey;
    font-style: normal;
    font-weight: 400;
	color: black;
	background-color:blanchedalmond;
	display: block;
	justify-content: center;
	align-items: center;
	min-height: 0vh;
	margin:0px; 
	
}

a{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:focus,a:visited,a:active{
	outline: none;
}
*{
	-webkit-tap-highlight-color: transparent;
}

.clearfix:after {
	content: "";
	clear:none;
	display: table;
}
.clearfix {
	overflow: auto;
}
.page-wrapper{
	
	max-width: 1100px;
	margin-left:0;
	margim-right: auto;
}
.top-banner{
	width: 100%;
	height: 110px;
	background-image: url("../images/PicsArt_04-10-01.50.15.jpg");
	background-position:center;
	background-size:cover;
	padding: 12px;
	padding-right: 0px;
	padding-left: 0px;
	background-repeat: no-repeat;
	
	filter: blur(0);
	-webkit-filter: blur(0);
	transform: translateZ(0);
	-wedkit-transform: translatez(0);
	

	
}
#logo{

    max-width: 80px;
    margin-left:auto;
	margin-right: auto;
    margin-top: 53px;
	padding-left: 25px;
	padding-right: 9px;
	
	filter: blur(0);
	-webkit-filter: blur(0);
	transform: translateZ(0);
	-wedkit-transform: translatez(0);
	
	
}
.top-banner img{
    width: 100%;
    box-sizing: content-box;

	}



.menu{
	position: sticky;
	width: 200px;
	height: 120px;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -20px;
	
	
}
.menu li{
	position: absolute;
	left: 0;
	list-style: none;
	transform-origin: 100px;
	transition: 0.5s;
	transition-delay: calc(0.1s * var(--i));
	transform: rotate(0deg) translateX(75px);
	color: inherit;
	

}
.menu.active li{
	transform: rotate(calc(240deg / -4 * var(--i)));
}
.menu li a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background:#FFFFFF;
	border-radius: 50%;
	transform: rotate(calc(240deg / 4 * var(--i)));
	box-shadow: 0 3px 4px rgba(0,0,0,0.15);
	color: #111;
	transition: 0.5s;

}
.menu li a:hover{
	color: red
}
.toggle{
	position: absolute;
	width: 70px;
	height: 70px;
	background: #ffff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 4px rgba(0,0,0,0.15);
	font-size: 2em;
	transition: transform 1.25s;
}
.menu.active .toggle
{
	transform: rotate(315deg);
}


.main{
	width: 97%;
	margin-left: auto;
	margin-right: auto;		
}
.container-featured{
	margin: auto;
	text-decoration: none;
}
.feature-images{
	display: block;
	width: 100%;
	
}
#pic1{
	background-image:url("../images/breakfast.jpg")
}
#pic2{
	background-image: url("../images/meal.jpg")
}
#pic3{
	background-image: url( "../images/dinner.jpg")
}
#pic4{
	background-image: url( "../images/dessert.jpg")
}
.featured-img{
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: thick;
	
	}
.featured a, .featured1 a, .featured2 a, .featured3 a{
	text-decoration: none;
	color: black;
}
.featured:hover a{
	color: deeppink;
}
.featured1:hover a{
	color:#2808C9;
}
.featured2:hover a{
	color: #F86C00;
}
.featured3:hover a{
	color:#00FFFB; 
}


.feature-images{
	text-align: center;
	
}
.featured, .featured1, .featured2, .featured3{
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
	float: left;
/*	color: pink*/
}
/*
.info{
	background-color: white;
	border-radius: 10px;
	margin: 0px 60px 0px 60px;
	text-align: center;
	text-shadow: 0 0 0 1;
	color: black;
	font-size: 25px
	
	
}
.info:active {
	color: green;
*/
.infoContainer{
	position:relative;
	margin: auto;
	width: 50%;
	height: 80px;
	margin-bottom: 15px;
	align-items: center;
	align-content: center;
	transition: all 0.5s ease; 
	}
.infoCard{
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
	align-items: center;
	text-align: center;
	justify-content: center;
	
	
}
.infoContainer:hover .infoCard{
	transform: rotateY(180deg);

	transition: all 0.5s ease;
	
}
.infoContainer:hover{
	width:80%;
	height: 550px;
	transition: all 0.5s ease;
	
}
.thefront{
	display: grid;
	place-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-color: white;
	border-radius: 100px;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	margin:auto;
	text-align: center;
	padding-left: 30px;
	
	
}

.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 50px;
    font-size: 18px;
    background-color: green;
    color: white;
}
#welcome_img{
	background: white;
	border-radius: 50px 0px 0px 50px ;
	width: 79px;
	height: 80px;
	display: flex;
	position:absolute;
	margin-right: 239px;
	padding-left: 20px;
	padding-right: 10px;
	
	filter: blur(0);
	-webkit-filter: blur(0);
	transform: translateZ(0);
	-wedkit-transform: translatez(0);
	
}
.infoContainer:hover #welcome_img {
	transform: scaleY(0);
}


#topic-one-img{
    width: 100%;
    background: url( "../images/topic2.jpg");
    height: 450px;
    background-size:contain;
    background-position: center;
	background-repeat: no-repeat;
	
}
#topic-two-img{
	width: 100%;
	background-image: url("../images/cover1.2.png");
	background: cover;
	height: 300px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
		
}
.footer{
	color: white;
	width: 100%;
	height: 50px;
	background:#000000;
	display: flex;
	border-radius: 10px 10px 0px 0px;
	
	
}
.email{
/*
	width: ;
	float: ;
*/
	margin-right: 2%;
	margin-left: auto;
	
}
.rights{
	margin-left: 2%;
}


@media screen and (max-width:568px){
	.navigation{
		display: none;
	}
}
@media screen and (min-width:568px){
	
	body {
    font-family: arapey;
    font-style: normal;
    font-weight: 400;
	color: black;
	background-color:blanchedalmond;
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 0vh;
	margin:0px; 
	
}
	.page-wrapper{
	
	max-width: 1500px;
	width: 1100px;
	height: auto;
	margin-left:0;
}
		
	.top-banner{
	width: 100%;
	height: 300px;
	background-image: url("../images/PicsArt_04-10-01.50.15.jpg");
	background-position: center;
	background-size:cover;
	padding: 12px;
	padding-right: 0px;
	padding-left: 0px;
	background-repeat: no-repeat;
	}
	#topic-one-img{
	width: 100%;
	background-image: url( "../images/trashfood.png");
	background:cover;
	height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat:repeat;
	
		
}
	#topic-two-img{
	width: 100%;
	background-image: url("../images/cover1.2.png");
	background: cover;
	height: 600px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
		
}
	


	#logo{

    max-width: 130px;
    margin-left: auto;
	margin-right: auto;
    margin-top: 190px;
	
}
	
.container-featured{
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	width: 48%;
	margin-top: 15px;
}
	
	.menu{
		display: none;
	}
	
	
	
		.navigation{
		position: relative;
		width:auto;
		height:60px;
		display: flex;
/*		nav bar color*/
		background: #FFD395;
		justify-content:center;
		align-items: center;
		border-radius: 10px;
		margin-left: auto;
		margin-right: auto;
		border-color: black;
		box-shadow: 0 1px 9px -1px  ;
		
	}
	.navigation ul{
		display: flex;
		width: auto;
		height: 146px;
		
	}
	.navigation ul li{
		list-style: none;
		position: relative;
		width: 125px;
		height: 60px; 
		z-index: 2;
		margin: 40px;
	}
	.navigation ul li a{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		text-align: center;
		font-weight:500 ;
		
	}
	.navigation ul li a .icon{
		position: relative;
		display: block;
		line-height: 65px;
		font-size: 2.0em;
		transition: 0.5s;
		color: black;
	}
	.navigation ul li:hover a .icon{
		transform: translateY(-32px);
/*		icon color*/
		color:#27AF00 ;
		
	}
		.navigation ul li:nth-child(1) a .icon{
		transform: translateY(-32px);
/*		icon color*/
		color:#27AF00 ;
		
	}
	.navigation ul li a .text{
		position: absolute;
/*		border text color*/
		background: #27AF00;
		color: white;
		padding: 2px 7px;
		border-radius: 12px;
		font-weight: 400;
		font-size: 1.3em;
		letter-spacing: 0.05em;
		transition: 0.5s;
		opacity: 0 ;
		transform: translateY(15px);
		
	}
	

	.navigation ul li:hover a .text{
		opacity: 1;
		transform: translateY(-4px);
		
		
	}

	.navigation ul li:nth-child(1) a .text{
		transform: translateY(0px);
		opacity: 1;
	}
	
		.navigation ul:hover li:nth-child(1) a .icon{
		transform: translate(0px);
/*		icon color*/
		color:black;
	}	
		.navigation ul:hover li:nth-child(1) a .text{
		opacity: 0;
	}
	
	.navigation ul li:nth-child(1):hover a .text
	{
		opacity: 1;
		background-color:#3BFF03;
		
	}.navigation ul li:nth-child(1):hover a .icon
	{
		transform: translateY(-32px);
		color:#3BFF03;
		
	}

		.navigation ul li:nth-child(1):hover ~ .indicator{
		transform: translateX(calc(205px * 0));
		
		
	}
	
	.navigation ul li:nth-child(2):hover ~ .indicator{
		transform: translateX(calc(205px * 1));
		
		
	}
		.navigation ul li:nth-child(3):hover ~ .indicator{
		transform: translateX(calc(205px * 2));
		
		
	}
	.navigation ul li:nth-child(4):hover ~ .indicator
	{
		transform: translateX(calc(205px * 3));
		
	}
/*
/*
	.navigation ul li.active a .text{
		transform: translateY(-4px);
		opacity: 1;
		
	}
*/
	.indicator{
		position: absolute;
		top: -55%;
		width: 70px;
		height: 70px;
/*		inidicator color*/
		background:#FFD395;
		border-radius: 50%;
		z-index: 1;
		transition: 0.5s;
		margin-left: 66px;
/*		left*/
	}
	.indicator::before{
		content: '';
		position: absolute;
		top: 5px;
		left: -28px;
		width: 30px;
		height: 28px;
		background: transparent;
		border-radius: 50%;
/*		indicator color2*/
		box-shadow: 15px 18px #FFD395;
		
	}
		.indicator::after{
		content: '';
		position: absolute;
		top: 5px;
		right: -28px;
		width: 30px;
		height: 28px;
		background: transparent;
		border-radius: 50%;
/*			indicator color*/
		box-shadow: -15px 18px #FFD395;
}
	.infoContainer:hover{
	width: 50%;
		height: 300px;
	}

/*
	.navigation ul li:nth-child(1).active ~ .indicator
	{
		transform: translateX(calc(205px * 0));
	}
	.navigation ul li:nth-child(2).active ~ .indicator
	{
		transform: translateX(calc(205px * 1));
	}
	.navigation ul li:nth-child(3).active ~ .indicator
	{
		transform: translateX(calc(205px * 2));
	}
	.navigation ul li:nth-child(4).active ~ .indicator
	{
		transform: translateX(calc(205px * 3));
		
	}
	
*/

	
}
